################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComeBack/x64/Release
/x64/Release
/.vs/ComeBack/v15
